.margin {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    }
    
    .card-text {
        padding-bottom: 160px;
    }
    
    .card-title {
        padding-bottom: 15px;
    }
    
    